<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
  {% load static %}
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %} MatukutaTravels {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'main/img/IMG_1041.JPG' %}" rel="icon">
  <link href="{% static 'main/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'main/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'main/css/style.css' %}" rel="stylesheet"></head>
<body>
<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="#matukutatravels@gmail.com"><em>matukutatravels@gmail.com</em></a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+255 763569476</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
</section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><img src="{% static 'main/img/IMG_1041.JPG' %}" alt=""><a href="index.html">Matukuta<span class="text/warning">Travels</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li class="dropdown"><a href="#"><span class="text-warning">Our routes</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Lemosho route</a></li>
              <li><a href="#">Machame route</a></li>
              <li><a href="#">Rongai route</a></li>
              <li><a href="#">Umbwe route</a></li>
              <li><a href="#">Northern Circuit</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

{% block content %}

{% endblock %}
  <!-- Vendor JS Files -->
  <script src="{% static 'main/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'main/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'main/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'main/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'main/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'main/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'main/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>